html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #ffffff;
}
#Wrap{
	height: 100%;
}
#sideContent div{
}

#sideContent div ul li{
	height: 3em;
	list-style: none;
	display: flex;

}

#sideContent div ul li a{
	width: 100%;
	height: 100%;

	padding-top: .8em;
	font-size: 1.2em;
	color: #333333;
	text-decoration: none;
}
#sideContent div ul li a{
	position: relative;
}
#sideContent div ul li a::before{
	content: '';
	position: absolute;
	width: 0px;
	border-bottom: 1px solid #aaaaaa;
	top: 2.5em;
	transition: .3s ;
}

#sideContent div ul li a:hover::before{
	width: 100%;
}

#Topic span{
	display: flex;
	justify-content: center;
	width: 100%;
	font-weight: bold;
}

#Topic{
	position: relative;
	letter-spacing: .3em;
	margin: 0;
	width: 100%;
}

#Topic::after,
#Topic::before{
	content: "";
	position: absolute;
	top: 33%;
	height: .2em;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	width: 40%;
}

#Topic::before{
	left: 0;
}

#Topic::after{
	right: 0;
}

.safe, .unsafe{
	position: relative;
}

.safe::before{
	content: "safe";
}

.unsafe::before{
	content: "unsafe";
	transition: .3s ;
}
.unsafe::after{
	content: "";
	transition: .3s ;
}

.unsafe:hover::before{
	content: "detail";
	cursor: pointer;
}
.unsafe:hover::after{
	content: "";
	padding-left: .3em;
}
