body {
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3', sans-serif;
	background: #2962b9;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
#wrap canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 500px;
	margin: -250px 0 0 -250px;
	-outline: 1px solid #fff;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1.5em;
	color: #ccc;
	line-height: 2em;
	text-align: center;
}
